<section class="incomplete">
  <h1>TODO</h1>
  <ul>
    <% @tasks.incompleted.each do |task| %>
      <%= erb :_todo_li, layout: false, locals: { task: task } %>
    <% end %>
  </ul>
</section>

<section class="uncompleted">
  <h1>Finished!</h1>
  <ul>
    <% @tasks.completed.each do |task| %>
      <%= erb :_todo_li, layout: false, locals: { task: task } %>
    <% end %>
  </ul>
</section>
<a id="add-task" href="/tasks/new" title="add task">Add Task</a>
